.contact {
    padding: 6.2rem 0 3rem 0;
    background: $white;
    
    //h1
    h1 {
        color: $info;
        //h1::after
        &::after {
            background: $info;
        }
    }

    //contact info
    .contact-info {
        display: flex;
        flex-direction: column;
        color: $secondary;

        //text
        .text {
            line-height: 2;
        }

        //contact-detail and social
        .contact-detail, .social {
            margin-bottom: 4rem;
            //small screen (from 992px to below)
            @media  only screen and (max-width: 992px) {
                margin-bottom: 2rem;
            }
        }

        //contact-detail icon
        .contact-detail i  {
            font-size: 1.2rem;
            margin-right: 1rem;
        }

        //social icon
        .social i {
            font-size: 2rem;
            color: $info;
            cursor: pointer;
            transition: all 0.3s linear;

            //hover
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    
    // contact form container 
    .contact-form-container {
        position: relative;
        //small screen (from 992px to below)
        @media  only screen and (max-width: 992px) {
            padding: 2rem 0;
        }
        
        //form group
        .form-group {
            margin-bottom: 1.5rem;           

            //input textarea
            input,  textarea{
                background: $gray-100;
            }

            //input textarea
            input{
                padding: 1.5rem 0.8rem;
                //small screen (from 992px to below)
                // @media  only screen and (max-width: 992px) {
                //     padding: 1rem 0.8rem;
                // }
            }

            //input textarea
            textarea{
                padding-top: 0.8rem;
            }

            //input active
            .input-active {
                background: #e8f0fe;
            }

            //input error
            .input-error-bg {
                background: rgb(240, 219, 219);
                border: 1px solid rgb(231, 172, 172);
            }

            //input error text
            .input-error-text {
                color: $danger !important;
            }
        }

        //on submit
        .form-submitted {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 2%;
            background: $success;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            color: $white;
        }
    }
}